html {
    scroll-behavior: smooth;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    margin: 20px;
    border: 2px solid black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

header {
    position: fixed;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a {
    
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}

#f {
    display: flex;
    justify-content: center;
    margin: 20px;
}

table {
    border-collapse: collapse;
}

td, th {
    margin: 0;
    padding: 12px 15px;
    border: 1px solid #000000;
    text-align: center;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label:nth-child(5) {
    display: block;
}

img {
    max-width: 50%;
}