html {
    scroll-behavior: smooth;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}

#aboutMe {
    margin-top: 60px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
    justify-content: center;
    margin: 30px;
}